.answers {
  display: flex;
  flex-wrap: wrap;

  margin: 2rem -5px;
}
.block {
  width: 50%;
  flex: 0 0 50%;
  padding: 0 5px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .block {
    width: 100%;
    flex: 0 0 100%;
  }
}
.answer {
  height: 54px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  background: var(--questionBG);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
}
.answer:hover {
  background-color: #ccd0dc;
}
.answer input {
  margin-right: 10px;
}
.wrong {
  background-color: var(--dangerRed);
  font-weight: 600;
}
.currect {
  background-color: var(--successGreen);
  font-weight: 600;
}

.progressBar {
  width: calc(100vw - 100px);
  position: fixed;
  height: 65px;
  background-color: #fff;
  margin: 0px auto;
  right: 0;
  left: 0;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.progressBar .backButton {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  background-color: #47f5901c;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.progressBar .backButton:hover {
  background-color: #47f5953a;
}
.rangeArea {
  flex: 1;
  padding: 0px 20px;

  display: flex;
  align-items: center;
  position: relative;
}
.rangeBody {
  height: 4px;
  background-color: #e4e8ee;
  width: 100%;
}
.progress {
  width: 25%;
  background-color: var(--fontPrimary);
  height: 100%;
  position: relative;
}
.progress::after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  right: 0;
  background-color: var(--fontPrimary);
  transform: translateY(-50%);
}
.progress:hover .tooltip {
  display: block;
}
.tooltip {
  display: none;
  position: absolute;
  top: -70px;
  left: calc(50% - 65px);
  background-color: var(--fontPrimary);
  padding: 10px 15px;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
}
.next span {
  margin: 0px 5px;
}
.tooltip::before {
  content: "";
  height: 15px;
  width: 15px;
  background: var(--fontPrimary);
  border-radius: 5px;
  transform: translateX(-50%) rotate(45deg);
  position: absolute;
  bottom: -5px;
  left: 50%;
}
.next {
  display: inline-block;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}
.next:hover {
  background-color: var(--fontPrimary);
}
.next:hover span {
  color: #fff;
}

.miniPlayer {
  position: fixed;
  width: 320px;
  bottom: 100px;
  right: 50px;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 5px;
}
.miniPlayer img {
  width: 100%;
}
.miniPlayer p {
  font-weight: 500;
  color: var(--fontPrimary);
  margin-top: 10px;
}
.miniPlayer .open {
  display: none;
}
.close {
  position: absolute;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  top: -10px;
  right: -8px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid #e5e5e5;
}
.floatingButton .close {
  display: none;
}
.open {
  display: none;
}

.floatingButton {
  height: 60px;
  width: 60px;
  position: fixed;
  right: 10px;
  bottom: 80px;
  border-radius: 100%;
  background-color: var(--fontPrimary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.floatingButton:hover {
  background-color: var(--successGreen);
}
.floatingButton:hover span {
  color: var(--fontPrimary);
}
.floatingButton span {
  color: var(--successGreen);
  font-weight: 500;
}

.floatingButton .open {
  display: block;
}
.floatingButton img {
  display: none;
}
.floatingButton p {
  display: none;
}
