@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

:root {
  --bodyBackground: #f2f4f8;
  --successGreen: #00ff84;
  --dangerRed: #ffc0c7;
  --questionBG: #e4e8ee;
  --fontPrimary: #002333;
  --active: #2dbf64;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: var(--fontPrimary);
}
body {
  background-color: var(--bodyBackground);
}
a {
  text-decoration: none;
  color: blue;
}
h4 {
  color: #7c83a7;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  margin-bottom: 10px;
}

.container {
  width: 90%;
  margin: 0 auto;
}
.main {
  width: 100%;
  padding: 4rem 0;
}
.main .container {
  margin: 2rem auto;
}
.button {
  background-color: var(--successGreen);
  color: var(--fontPrimary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  text-transform: uppercase;
}
.collumn {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
}
.info {
  margin-top: 1rem;
  text-align: center;
}
.error {
  background-color: var(--dangerRed);
  padding: 0.6rem 1.2rem;
  margin-top: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.infinite-scroll-component {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
  margin: 3rem auto;
  row-gap: 20px;
}
@media only screen and (max-width) {
  .infinite-scroll-component {
    width: 90%;
  }
}
